<po-page-default p-title="TOTVS Gps Export Data">
    <div class="po-row">
        <po-accordion class="po-md-12">
            <po-accordion-item p-label="Codigo">
                <po-code-editor p-readonly p-language="html" p-height="150" [(ngModel)]="codeHTML"></po-code-editor>
                <po-code-editor p-readonly p-language="typescript" p-height="250" [(ngModel)]="codeTS"></po-code-editor>
            </po-accordion-item>
            <po-accordion-item p-label="Exemplo">
                <po-widget class="po-row" p-no-shadow p-primary-label="Exportar" (p-primary-action)="export()">
                    <po-table class="po-md-12"
                        [p-columns]="columns"
                        [p-items]="items">
                    </po-table>
                </po-widget>
            </po-accordion-item>
        </po-accordion>
    
        <gps-export-data #gpsExportData
            [data]="items"
            [columns]="exportColumns"
            fileName="exemploGpsExportData.csv"
            canChoose>
        </gps-export-data>
    </div>
</po-page-default>
