<div class="po-row">
    <div class="po-md-12"><po-divider p-label="TOTVS Gps Model Fill"></po-divider></div>

    <po-accordion class="po-md-12">
        <po-accordion-item p-label="Codigo">
            <po-code-editor p-readonly p-language="html" p-height="150" [(ngModel)]="code"></po-code-editor>
        </po-accordion-item>
        <po-accordion-item p-label="Exemplo">
            <gps-model-fill [model]="modelFillData"></gps-model-fill>
            <po-info class="po-md-12" p-label="Nome" p-value="{{data.$person.full_name}}"></po-info>
            <po-info class="po-md-6" p-label="CPF" p-value="{{data.$person.cpf}}"></po-info>
            <po-info class="po-md-6" p-label="CNS" p-value="{{data.$person.cns}}"></po-info>
            <po-info class="po-md-6" p-label="PIS" p-value="{{data.$person.pis}}"></po-info>
            <po-info class="po-md-6" p-label="Telefone" p-value="{{data.$person.phone}}"></po-info>
        </po-accordion-item>
    </po-accordion>
</div>