<po-page-default p-title="TOTVS Gps Order List">
    <div class="po-row">
        <po-accordion class="po-md-12">
            <po-accordion-item p-label="Codigo">
                <po-code-editor p-readonly p-language="html" p-height="150" [(ngModel)]="code"></po-code-editor>
            </po-accordion-item>
            <po-accordion-item p-label="Exemplo">
                <po-widget class="po-row" p-no-shadow>
                    <gps-order-list class="po-md-6"
                        [items]="items"
                        [(orderedItems)]="orderedItems"
                        columnLabel="Itens"
                        canChoose>
                    </gps-order-list>
                    <po-table class="po-md-6"
                        [p-columns]="[{label:'Item',property:'label'}]"
                        [p-items]="orderedItems">
                    </po-table>
                </po-widget>
            </po-accordion-item>
        </po-accordion>
    </div>
</po-page-default>
